<html> 
    <head>
        <link rel="stylesheet" href='/static/style.css'/>
    </head>
    <body>
        <a href="{{ url_for('logout') }}">Press here to logout!</a>
        <a href="{{ url_for('forum') }}">main page!</a>
        <h1>Here's your movie {{current_user.username}}!</h1>
        <div class='container'>
            <div>
                <p><b>{{titles}}</b></p>
                <p>{{overviews}}</p>
                <p>{{genres}}</p>
                <a href="https://en.wikipedia.org/?curid={{websites}}">wiki for the movie</a>
                <p><img class='tv' src=https://image.tmdb.org/t/p/w500{{favImages}}></p>
            </div>
        </div>
        <form method="POST" action="/request">
            MovieID:<input type="integer" name="movieID">
            Rating(out of 5):<select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            Review:<input type="text" name="review">
            <input type="submit" value="Post Your Review!">
        </form>
        {% for row in rows %}
            <b>{{ row.username }}'s Rating: {{ row.rating }}/5</b><br>
            <b>{{ row.username }}'s Review: {{ row.review }}</b>
            <p class='seperator'>-----------------------------------------</p>
        {% endfor %}
    </body>
</html>